.save-to-collection {
  position: relative;
  line-height: 150%;
}
.btn-primary,
.btn-secondary {
  position: absolute;
  top: 372px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-base) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.btn-primary {
  left: 16px;
  background-color: var(--orange);
  color: var(--white);
}
.btn-secondary {
  left: 194px;
  background-color: var(--white);
  border: 2px solid var(--border-and-dividers);
}
.card-divider {
  position: absolute;
  top: 355.5px;
  left: -0.5px;
  border-top: 1px solid var(--border-and-dividers);
  box-sizing: border-box;
  width: 357px;
  height: 1px;
}
.heading,
.subheading {
  position: absolute;
  left: 24px;
  line-height: 150%;
}
.subheading {
  top: 256px;
  color: var(--secondary);
  display: inline-block;
  width: 308px;
}
.heading {
  top: 216px;
  font-size: var(--h2-size);
}
.thumbnail-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 356px;
  height: 200px;
  object-fit: cover;
}
.card,
.card1 {
  position: absolute;
  top: 215px;
  left: 560px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--border-and-dividers);
  box-sizing: border-box;
  width: 356px;
  height: 428px;
  overflow: hidden;
}
.card1 {
  top: 681px;
  left: 958px;
}
.subheading3 {
  position: absolute;
  top: 312px;
  left: 24px;
  line-height: 150%;
  font-weight: 500;
}
.card2 {
  top: 218px;
  left: 958px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--border-and-dividers);
  width: 356px;
  height: 428px;
}
.card2,
.card3,
.unactive-bg {
  position: absolute;
  box-sizing: border-box;
}
.card3 {
  top: 681px;
  left: 560px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--border-and-dividers);
  width: 356px;
  height: 428px;
  overflow: hidden;
}
.unactive-bg {
  top: 0;
  left: 88px;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  border-top: 2px solid var(--border-and-dividers);
  border-right: 2px solid var(--border-and-dividers);
  border-bottom: 2px solid var(--border-and-dividers);
  width: 88px;
  height: 40px;
}
.latest {
  position: absolute;
  top: 7px;
  left: 108px;
  line-height: 150%;
}
.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--dark);
  width: 88px;
  height: 40px;
}
.newest {
  position: absolute;
  top: 7px;
  left: 16px;
  line-height: 150%;
  color: var(--white);
}
.btn-grouped {
  position: absolute;
  top: 128px;
  left: 1138px;
  width: 176px;
  height: 40px;
}
.counter {
  top: 175px;
  left: 571px;
  font-size: 14px;
  line-height: 150%;
  color: var(--secondary);
}
.counter,
.filter-bg,
.h1 {
  position: absolute;
}
.h1 {
  top: 113px;
  left: 560px;
  font-size: var(--h1-size);
  line-height: 150%;
}
.filter-bg {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 273px;
  height: 40px;
}
.deleted {
  position: absolute;
  top: 7px;
  left: 44px;
  line-height: 150%;
}
.delete-remove-garbage-waste {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.filter-item {
  position: absolute;
  top: 263px;
  width: 273px;
  height: 40px;
}
.filter-item,
.filter-item1,
.filter-item2 {
  left: 175px;
  color: var(--secondary);
}
.filter-item1 {
  position: absolute;
  top: 223px;
  width: 273px;
  height: 40px;
}
.filter-item2 {
  top: 183px;
}
.filter-bg3,
.filter-item-active,
.filter-item2 {
  position: absolute;
  width: 273px;
  height: 40px;
}
.filter-bg3 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--orange);
}
.filter-item-active {
  top: 128px;
  left: 175px;
  color: var(--white);
}
.magic-stick-icon {
  position: absolute;
  top: 24px;
  left: 76px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: var(--gray-1);
  width: 546px;
  height: 40px;
}
.search-magnifying-glass {
  position: absolute;
  top: 7px;
  left: 30px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-for-anything {
  position: absolute;
  top: 7px;
  left: 62px;
  line-height: 150%;
}
.search {
  position: absolute;
  top: 16px;
  left: 560px;
  width: 546px;
  height: 40px;
}
.english,
.photos,
.podcasts,
.videos {
  position: absolute;
  top: 23px;
  line-height: 150%;
}
.photos {
  left: 198px;
  color: var(--dark);
}
.english,
.podcasts,
.videos {
  left: 275px;
}
.english,
.podcasts {
  left: 349px;
}
.english {
  top: 0;
  left: 0;
}
.chevron-down-small-icon {
  position: absolute;
  top: 0;
  left: 52px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.language,
.sign-in {
  position: absolute;
  top: 23px;
  text-align: right;
}
.language {
  left: 1166px;
  width: 76px;
  height: 24px;
}
.sign-in {
  left: 1266px;
  line-height: 150%;
}
.header-divider {
  position: absolute;
  top: 82.5px;
  left: -0.5px;
  border-top: 1px solid var(--border-and-dividers);
  box-sizing: border-box;
  width: 1513px;
  height: 1px;
}
.header-active-link {
  position: absolute;
  top: 70px;
  left: 198px;
  background-color: var(--orange);
  width: 53px;
  height: 2px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 92px;
  overflow: hidden;
  color: var(--secondary);
}
.test-task {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--basic-size);
  color: var(--dark);
  font-family: var(--basic);
}
