body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --basic: Commissioner;

  /* font sizes */
  --basic-size: 16px;
  --h1-size: 40px;
  --h2-size: 24px;

  /* Colors */
  --white: #fff;
  --orange: #ed7135;
  --gray-1: #eee;
  --border-and-dividers: #ebebeb;
  --secondary: #666;
  --dark: #292929;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-4xs: 9px;

  /* border radiuses */
  --br-5xs: 8px;
}
